In [11]:
import pandas as pd
import matplotlib as plt
import numpy as np
import cartopy.crs as ccrs

In [12]:
from argopy import DataFetcher as ArgoDataFetcher
argo_loader = ArgoDataFetcher()

In [13]:
#ds = argo_loader.region([-85,-45,10.,20.,0,10.]).to_xarray()
#ds = argo_loader.region([-85,-45,10.,20.,0,1000.,'2018','2019']).to_xarray()

In [14]:
ds = ArgoDataFetcher().profile(6902746, 30).to_xarray()
df = ds.to_dataframe()
print(df.head())
df.describe()

          CONFIG_MISSION_NUMBER  CYCLE_NUMBER DATA_MODE DIRECTION  \
N_POINTS
0                             2            30         D         A
1                             2            30         D         A
2                             2            30         D         A
3                             2            30         D         A
4                             2            30         D         A

          PLATFORM_NUMBER  POSITION_QC  PRES  PRES_QC       PSAL  PSAL_QC  \
N_POINTS
0                 6902746            1   3.0        1  35.773998        1
1                 6902746            1   4.0        1  35.770000        1
2                 6902746            1   5.0        1  35.766998        1
3                 6902746            1   6.0        1  35.768002        1
4                 6902746            1   7.0        1  35.765999        1

               TEMP  TEMP_QC  TIME_QC  LATITUDE  LONGITUDE                TIME
N_POINTS
0         27.896000        1        1    19.438     -59.16 2017-11-30 06:48:00
1         27.900000        1        1    19.438     -59.16 2017-11-30 06:48:00
2         27.900999        1        1    19.438     -59.16 2017-11-30 06:48:00
3         27.896000        1        1    19.438     -59.16 2017-11-30 06:48:00
4         27.903999        1        1    19.438     -59.16 2017-11-30 06:48:00

,CONFIG_MISSION_NUMBER,CYCLE_NUMBER,PLATFORM_NUMBER,POSITION_QC,PRES,PRES_QC,PSAL,PSAL_QC,TEMP,TEMP_QC,TIME_QC,LATITUDE,LONGITUDE
count,108.0,108.0,108.0,108.0,108.000000,108.0,108.000000,108.0,108.000000,108.0,108.0,1.080000e+02,1.080000e+02
mean,2.0,30.0,6902746.0,1.0,775.722222,1.0,35.680861,1.0,13.243130,1.0,1.0,1.943800e+01,-5.916000e+01
std,0.0,0.0,0.0,0.0,631.145670,0.0,0.825036,0.0,8.839245,0.0,0.0,4.996987e-14,1.070783e-13
min,2.0,30.0,6902746.0,1.0,3.000000,1.0,34.876999,1.0,3.721000,1.0,1.0,1.943800e+01,-5.916000e+01
25%,2.0,30.0,6902746.0,1.0,203.500000,1.0,34.998751,1.0,5.109000,1.0,1.0,1.943800e+01,-5.916000e+01
50%,2.0,30.0,6902746.0,1.0,650.500000,1.0,35.190500,1.0,9.769500,1.0,1.0,1.943800e+01,-5.916000e+01
75%,2.0,30.0,6902746.0,1.0,1319.250000,1.0,36.383501,1.0,20.606501,1.0,1.0,1.943800e+01,-5.916000e+01
max,2.0,30.0,6902746.0,1.0,1988.000000,1.0,37.376999,1.0,28.240000,1.0,1.0,1.943800e+01,-5.916000e+01

In [5]:
df.keys()
list(df.keys())

['CONFIG_MISSION_NUMBER',
 'CYCLE_NUMBER',
 'DATA_MODE',
 'DIRECTION',
 'PLATFORM_NUMBER',
 'POSITION_QC',
 'PRES',
 'PRES_QC',
 'PSAL',
 'PSAL_QC',
 'TEMP',
 'TEMP_QC',
 'TIME_QC',
 'LATITUDE',
 'LONGITUDE',
 'TIME']

In [24]:
df['TIME']= pd.to_datetime(df['TIME'])

<class 'pandas.core.frame.DataFrame'>
Int64Index: 109 entries, 0 to 108
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CONFIG_MISSION_NUMBER  109 non-null    int32
 1   CYCLE_NUMBER           109 non-null    int32
 2   DATA_MODE              109 non-null    object
 3   DIRECTION              109 non-null    object
 4   PLATFORM_NUMBER        109 non-null    int32
 5   POSITION_QC            109 non-null    int32
 6   PRES                   109 non-null    float64
 7   PRES_QC                109 non-null    int32
 8   PSAL                   109 non-null    float64
 9   PSAL_QC                109 non-null    int32
 10  TEMP                   109 non-null    float64
 11  TEMP_QC                109 non-null    int32
 12  TIME_QC                109 non-null    int32
 13  LATITUDE               109 non-null    float64
 14  LONGITUDE              109 non-null    float64
 15  TIME                   109 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(5), int32(8), object(2)
memory usage: 11.1+ KB

In [26]:
df.info()

<ipython-input-26-7bc0d487d307>:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df['TIME'].describe()

count                     109
unique                      1
top       2017-12-20 06:58:00
freq                      109
first     2017-12-20 06:58:00
last      2017-12-20 06:58:00
Name: TIME, dtype: object

In [9]:
    from argopy import IndexFetcher as ArgoIndexFetcher

    index_loader = ArgoIndexFetcher()
    index_loader = ArgoIndexFetcher(backend='erddap')    
    #Local ftp backend 
    #index_loader = ArgoIndexFetcher(backend='localftp',path_ftp='/path/to/your/argo/ftp/',index_file='ar_index_global_prof.txt')